@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  max-width: 430px;
  margin: 0 auto;
  min-height: 100vh;
  background: #f9fafb;
}

button {
  cursor: pointer;
}

textarea, input {
  font-family: inherit;
}
